* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #040006;
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.606);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 25px;
    position: relative;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: #1b1622;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    left: 0;
    display: none;
  }
  
  .success-message {
    color: rgb(183, 15, 15);
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    left: 0;
    display: none;
  }
  
  input.invalid {
    border-color: red(255, 0, 0, 0.985);
  }
  
  input.valid {
    border-color: #801300;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #030205;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #39363e;
  }

  .alertmessage{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
  }
  